
body {
    padding:0;
    margin: 0;
}

.center {
    display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.title {
    color: #a6da95;
    font-size: 100px;
    /* width: 800px; */
    width: fit-content;
    margin: auto;

}

p {
    color: #cad3f5;
    font-size: 25px;
    width: fit-content;
    margin: auto;

}

#block {
    height: 300px;
}