
body {
    padding:0;
    margin: 0;
}

.center {
    display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.title {
    color: #a6da95;
    font-size: 100px;
    /* width: 800px; */
    width: fit-content;
    margin: auto;

}

p, h1 {
    color: #cad3f5;

    width: fit-content;
    margin: auto;

}

p {
    font-size: 25px;
}

#block {
    height: 300px;
}

* {
    font-family: "Open Sans", sans-serif;
}

button {
    background-color: #a6da95;
    border-radius: 15px;
    font-size: 25px;
    border: 0;
    padding: 5px 10px;
}